# Bỏ qua môi trường ảo và cache của Python
.venv/
__pycache__/

# Bỏ qua file trung gian
image_links.csv

# Bỏ qua thư mục nháp của hệ thống
temp_images/
resource/unprocessed/

# Bỏ qua file cấu hình IDE
.idea/